.profile-img {
            background-image:url("WhatsApp\ Image\ 2025-11-08\ at\ 2.19.47\ PM.jpeg");
            background-size: cover;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background-color: #3a3a3a;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 6rem;
            color: #606060;
            border: 4px solid #404040;
        }
.profile-img:hover {
    box-shadow: #991b1b 0px 0px 20px 4px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b92222;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    position: fixed;
    width: 100%;
}
nav ul li {

    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #111;
}
section {
    padding: 20px;
}
section#about {
    background-color: #333;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}
section#projects {
    background-color: #333;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

section#projects h2 {
    color: #ffffff;
}
section#contact {
    background-color: #882d2d;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}
section#contact ul {
    list-style-type: none;
    padding: 0; 
    margin: 60px;
}
.lista li a {
    margin-bottom: 10px;
    color: white;
}

section#contact label {
    color: #ffffff;
}
